.footer-container {
  inline-size: 100%;
  display: flex;
  justify-content: left;
  margin: 100px auto;
}

.footer-content {
  inline-size: 80%;
  background-color: #5ba4c4;
  border-top-right-radius: 100px;
}
.footer-div {
  display: flex;
  flex-direction: row;
  bottom: 0;
  column-gap: 40px;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  padding: 60px 0;
  padding-left: 60px;
  color: white;
  margin: auto;
}

.footer-div p {
  margin-bottom: 5px;
}

.footer-section-1 {
  inline-size: 20%;
}

.footer-section-1 .navidoc-logo {
  margin-bottom: 10px;
}

.footer-social-images {
  margin-top: 10px;
}
.footer-social-images img {
  height: 40px;
}

.footer-social-images img:hover {
  filter: invert(100%);
  cursor: pointer;
  height: 41px;
}
.footer-section-2 {
  inline-size: 50%;
  display: flex;
  flex-direction: column;
}

.footer-section-2-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid rgb(213, 213, 213, 0.3);
  column-gap: 50px;
}

.footer-section-2-grid h2 {
  border-bottom: 1px rgb(225, 224, 224, 0.3) solid;
  margin-bottom: 10px;
}

.download-brochure-section {
  display: flex;
  inline-size: 100%;
  align-items: center;
}

.footer-support-section h4 {
  margin-top: 8px;
  margin-bottom: 5px;
}

.footer-sales-section h4 {
  margin-bottom: 5px;
}

.email-button,
.call-button {
  height: 16px;
  display: flex;
  align-items: center !important;
  justify-content: flex-start;
  color: white;
  border: none;
  margin-bottom: 5px;
}

.email-icon,
.call-icon {
  height: 16px;
  filter: brightness(100%) invert(100%) sepia(100%) saturate(100%)
    hue-rotate(0deg);
  margin-right: 4px;
}

.navidoc-product-grid {
  margin-top: 10px;
}

.download-brochure-section {
  margin-top: 10px;
}
.download-brochure-text {
  inline-size: 50%;
  margin-right: 20px;
}

.download-brochure-button {
  padding: 20px 30px;
  background-color: rgb(173, 64, 64);
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 10px;
}

.download-brochure-button:hover {
  background-color: #9ac45b;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .footer-container {
    justify-content: center;
    background-color: #5ba4c4;
    margin-bottom: 0;
  }
  .footer-content {
    width: 90%;
    border-top-right-radius: 0;
  }

  .footer-div {
    padding-left: 0;
  }

  .footer-section-1 {
    inline-size: 30%;
  }

  .download-brochure-section {
    flex-direction: column;
    text-align: justify;
    column-gap: 20px;
    align-items: flex-start;
  }
  .download-brochure-text {
    inline-size: 100%;
  }

  .navidoc-product-grid h2 {
    white-space: nowrap;
  }

  .footer-div h2 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  .footer-div {
    flex-direction: column;
    row-gap: 20px;
  }
  .footer-div h2 {
    margin-top: 30px;
  }
  .footer-section-1 {
    inline-size: 100%;
  }

  .footer-section-2 {
    inline-size: 100%;
    flex-direction: column;
  }

  .footer-section-2-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-bottom: none;
  }

  .navidoc-product-grid h2 {
    border-bottom: 1px rgb(225, 224, 224, 0.3) solid;
    margin-bottom: 0;
  }

  .download-brochure-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .download-brochure-text {
    inline-size: 100%;
  }

  .navidoc-product-grid h2 {
    white-space: normal;
  }
}
