.navidoc-testimonial-content {
  inline-size: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review-header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0;
  text-align: center;
  inline-size: 65%;
  row-gap: 10px;
}

.review-header-text h1 {
  margin: 0 auto;
  font-size: 40px;
  color: #aacc5d;
}

.review-header-text h2 {
  margin: 0 auto;
  font-size: 40px;
  font-weight: lighter;
  color: #331b3b;
}

.review-header-text h2 span {
  text-decoration: underline;
  text-decoration-color: #aacc5d;
}

.demo-button {
  padding: 10px 20px;
  background-color: #aacc5d;
  color: black;
  border: none;
  font-weight: normal;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 20px;
}

.box-area {
  padding: 20px;
  position: relative;
  display: block;

  color: #000;

  margin: 40px 0;
  text-align: left;
  border: 1px solid rgb(194, 194, 194);
}

.box-area p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}
.box-area h4 span {
  color: orange;
  font-size: 20px;
  display: inline;
}

.box-area p {
  color: #262626;
}

.testimonial_slider_area .owl-dots {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}

.testimonial_slider_area .owl-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #aacc5d;
}

.testimonial_slider_area .owl-dot.active {
  background-color: #aacc5d;
}

@media only screen and (max-width: 1000px) {
  .navidoc-testimonial-content {
    inline-size: 90%;
  }
  .review-header-text {
    inline-size: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .box-area {
    text-align: center;
  }

  .review-header-text {
    text-align: justify;
  }
  .review-header-text h1 {
    font-size: 27px;
  }

  .review-header-text h2 {
    font-size: 27px;
  }
}
